In [1]:
import sys; sys.path.insert(0, '../mac')
from plot_tools import *

In [2]:
df = pd.DataFrame(
    {'trial_num': [1, 2, 3, 1, 2, 3],
     'subject': [1, 1, 1, 2, 2, 2],
     'samples': [list(np.random.randn(3).round(2)) for i in range(6)]
    }
)

In [3]:
df.samples[0][0]

0.02

In [4]:
e1 = pd.DataFrame({'event':[12],
                   'samples': [list(np.random.randn(3).round(2))],
                   'track_id':[pd.Series(np.arange(0,12,2))],
#                    "p_momentum":pd.Series([1.,0.3,4.2,1.,2])
                  },index=[0])

In [5]:
e1

   event            samples                                           track_id
0     12  [1.28, 0.35, 0.4]  0     0
1     2
2     4
3     6
4     8
5    1...

In [6]:
e1.track_id[0][0]

0

In [7]:
e1=e1.append(pd.DataFrame({'event':[13],
                   'track_id':[pd.Series(np.arange(21,212,2))],
                  }))
e1

   event            samples                                           track_id
0     12  [1.28, 0.35, 0.4]  0     0
1     2
2     4
3     6
4     8
5    1...
0     13                NaN  0      21
1      23
2      25
3      27
4     ...

In [8]:
e1.to_csv("teste1.csv",index=False)

In [16]:
test=pd.read_csv('csvwritertest.csv',converters={'trackid':generic,'p_p':generic})
test

   event    trackid              p_p
0     12  [9, 0, 1]    [1.0, 2.3, 4]
1     12  [3, 2, 1]  [12.0, 21.3, 4]

In [23]:
np.concatenate(test.trackid).astype(int)
# plt.plot(test.trackid,test.p_p)

array([9, 0, 1, 3, 2, 1])

In [30]:
np.array(test.trackid) - np.array(test.p_p)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [43]:
# test.insert(len(test.columns), 'p_tid', 0)
for i,row in test.iterrows():
    row['p_tid'] = np.array(row.trackid) - np.array(row.p_p)
test['p_tid'] = np.array(test.trackid) - np.array(test.p_p)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [41]:
test

   event    trackid              p_p  e  p_tid
0     12  [9, 0, 1]    [1.0, 2.3, 4]  0      0
1     12  [3, 2, 1]  [12.0, 21.3, 4]  0      0

In [44]:
from root_pandas import read_root

In [47]:
ana=read_root("/Users/erezcohen/Desktop/Tracks_MC_BNB_AnalysisTrees_anatreefiles_13000_to_14000.root",key='TracksTree')

In [48]:
ana

,run,subrun,event,Ntracks,Ng4particles,nu_interactions,tracks,g4particles,genie_interactions
0,5,821,16408,1,13,2142389616,2142517440,2132138496,2144905408
1,5,821,16411,1,1,2142389616,2142517440,2132138496,2144905408
2,5,821,16412,2,2,2142389616,-2143489536,2132138496,2144905408
3,5,821,16415,3,12,2142389616,-2140285952,2132138496,2144905408
4,6,9721,194404,1,11,2142389616,-2140285952,2132138496,2144905408
5,6,9721,194412,1,2,2142389616,-2140285952,2132138496,2144905408
6,6,9721,194416,2,18,2142389616,-2140285952,-2140281856,2144905408
7,6,9721,194418,5,32,2142389616,-2140566016,-2140272640,2144905408
8,7,211,4204,1,20,2142389616,-2140566016,-2140272640,2144905408
9,7,211,4205,1,2,2142389616,-2140566016,-2140272640,2144905408
10,7,211,4207,1,1,2142389616,-2140566016,-2140272640,2144905408
11,7,211,4209,4,36,2142389616,-2140566016,-2140272640,2144905408
12,7,211,4213,2,9,2142389616,-2140566016,-2140272640,2144905408
13,7,211,4219,1,10,2142389616,-2140566016,-2140272640,2144905408
14,7,211,4220,1,1,2142389616,-2140566016,-2140272640,2144905408
15,7,3999,79965,2,6,2142389616,-2140566016,-2140272640,2144905408
16,7,3999,79970,1,6,2142389616,-2140566016,-2140272640,2144905408
17,7,3999,79971,1,1,2142389616,-2140566016,-2140272640,2144905408
18,7,3999,79979,3,16,2142389616,-2140566016,-2140272640,2144905408
19,5,3890,77781,3,10,2142389616,-2140566016,-2140272640,2144905408
20,5,3890,77783,1,5,2142389616,-2140566016,-2140272640,2144905408
21,5,3890,77784,1,6,2142389616,-2140566016,-2140272640,2144905408
22,5,3890,77786,2,9,2142389616,-2140566016,-2140272640,2144905408
23,5,3890,77787,2,5,2142389616,-2140566016,-2140272640,2144905408
24,5,3890,77790,1,9,2142389616,-2140566016,-2140272640,2144905408
25,5,3890,77792,1,2,2142389616,-2140566016,-2140272640,2144905408
26,5,3890,77793,1,5,2142389616,-2140566016,-2140272640,2144905408
27,5,3890,77794,3,24,2142389616,-2140566016,-2140272640,2144905408
28,5,3890,77799,1,2,2142389616,-2140566016,-2140272640,2144905408
29,5,3890,77800,1,3,2142389616,-2140566016,-2140272640,2144905408
...,...,...,...,...,...,...,...,...,...
6333,4,1988,39748,2,14,2144911280,2132879360,2133236736,2132895744
6334,4,1988,39752,3,12,2144911280,2132879360,2133236736,2132895744
6335,4,1988,39753,1,1,2144911280,2132879360,2133236736,2132895744
6336,4,1988,39756,2,3,2144911280,2132879360,2133236736,2132895744
6337,4,1988,39758,2,21,2144911280,2132879360,2133236736,2132895744
6338,5,7036,140708,2,2,2144911280,2132879360,2133236736,2132895744
6339,5,7036,140709,5,57,2144911280,2132879360,2133236736,2132895744
6340,5,7036,140710,6,11,2144911280,2132879360,2133236736,2132895744
6341,5,7036,140712,1,1,2144911280,2132879360,2133236736,2132895744
6342,5,7036,140716,1,30,2144911280,2132879360,2133236736,2132895744
6343,1,3617,72321,2,15,2144911280,2132879360,2133236736,2132895744
6344,1,3617,72324,3,6,2144911280,2132879360,2133236736,2132895744
6345,1,3617,72327,1,14,2144911280,2132879360,2133236736,2132895744
6346,1,3617,72328,2,27,2144911280,2132879360,2133236736,2132895744
6347,1,3617,72329,1,1,2144911280,2132879360,2133236736,2132895744
6348,1,3617,72331,1,0,2144911280,2132879360,2133236736,2132895744
6349,1,3617,72332,1,1,2144911280,2132879360,2133236736,2132895744
6350,1,3617,72340,2,2,2144911280,2132879360,2133236736,2132895744
6351,1,1667,33322,2,18,2144911280,2132879360,2133236736,2132895744
6352,1,1667,33327,1,7,2144911280,2132879360,2133236736,2132895744
6353,1,1667,33328,2,9,2144911280,2132879360,2133236736,2132895744
6354,1,1667,33331,2,5,2144911280,2132879360,2133236736,2132895744
6355,1,1667,33333,1,3,2144911280,2132879360,2133236736,2132895744
6356,1,1667,33336,1,1,2144911280,2132879360,2133236736,2132895744
6357,1,1667,33340,1,3,2144911280,2132879360,2133236736,2132895744
6358,7,149,2963,2,5,2144911280,2132879360,2133236736,2132895744
6359,7,149,2967,2,3,2144911280,2132879360,2133236736,2132895744
6360,7,149,2978,1,2,2144911280,2132879360,2133236736,2132895744
6361,7,149,2979,2,7,2144911280,2132879360,2133236736,2132895744
6362,7,149,2980,1,10,2144911280,2132879360,2133236736,2132895744